<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>코드 스터디</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>

    <header>
        <h1>코드 스터디</h1>
        <nav>
            <ul>
                {% comment %} <li><a href="{% url 'home' %}">홈</a></li> {% endcomment %}
                <li><a href="{% url 'code_list' %}">코드 목록</a></li>
                <li><a href="{% url 'code_submit' %}">코드 제출</a></li>
                {% comment %} <li><a href="{% url 'login' %}">로그인</a></li> {% endcomment %}
            </ul>
        </nav>
    </header>

    <main>
    <ul>
        {% for code in codes %}
        <li>
            <a href="{% url 'code_detail' code.id %}">{{ code.name }}</a>
            <form action="{% url 'code_delete' code.id %}" method="POST" style="display:inline;">
                {% csrf_token %}
                <button type="submit" onclick="return confirm('이 코드를 정말 삭제하시겠습니까?');">삭제</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    </main>
</body>
</html>

