<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>코드 목록</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/code_detail.css' %}">
    <script>
        function showDrawSection() {
            document.querySelector('.draw-section').style.display = 'block';
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="code-section">
        <h1>{{ code.name }}</h1>
        <pre>{{ code.code }}</pre>
        </div>
        <div class = "draw-section">
            <a href="{% url 'code_draw' code.id %}" onclick="showDrawSection()">그림판 나와라!</a>
        </div>
    </div>
    
</body>
</html>